@model Marca

<form asp-action="Edit" class="container">
    <div class="row mb-3">
        <input asp-for="IdMarca" value="@Model.IdMarca" hidden />
        <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input asp-for=Nombre type="text" id="nombre" name="nombre" class="form-control" />
        </div>
        <div class="col-md-6">
            <label for="estado" class="form-label">Estado</label>
            <select asp-for=IdEstado id="estado" name="estado" class="form-select">
                <option value="1">Activo</option>
                <option value="2">Inactivo</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <button type="submit" class="btn btn-info">Modificar</button>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" href="/home">Cancelar</a>
        </div>
    </div>

</form>
