<form asp-action="Create" class="container">
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" name="nombre" class="form-control" required />
        </div>
        <div class="col-md-6">
            <label for="telefono" class="form-label">Telefono</label>
            <input type="text" id="telefono" name="telefono" class="form-control" />
        </div>
        <div class="col-md-6">
            <label for="dui" class="form-label">DUI</label>
            <input type="text" maxlength="9" id="dui" name="dui" class="form-control" />
        </div>
        <div class="col-md-6">
            <label for="correo" class="form-label">Correo</label>
            <input type="email" id="correo" name="correo" class="form-control" />
        </div>
        <div class="col-md-6">
            <label for="fechaRegistro" class="form-label">Fecha de Registro</label>
            <input type="date" id="fechaRegistro" name="fechaRegistro" class="form-control" />
        </div>
        <div class="col-md-6">
            <label for="estado" class="form-label">Estado</label>
            <select id="estado" name="estado" class="form-select">
                <option value="1">Activo</option>
                <option value="2">Inactivo</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <button type="submit" class="btn btn-info">Crear</button>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" asp-controller="Cliente" asp-action="Index">Cancelar</a>
        </div>
    </div>

</form>

