
:root {
    --pc-sidebar-background: #13c2c2 !important;
    --pc-sidebar-color: #ffffff !important;
    --pc-header-background: #13c2c2 !important;
    --pc-header-color: #ffffff !important;
    --pc-sidebar-active-color: #ffffff !important;
}
